[Unit]
Description=Run battery warning every 2 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min
Unit=battery_warn.service

[Install]
WantedBy=timers.target

